body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background-color: #0f0f0f;
}

#app {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-container {
    position: absolute;
}

@media (max-width: 800px) {
    #game-container {
        left: 0;
    }
}

@media (max-height: 600px) {
    #game-container {
        top: 0;
    }
}
